set number relativenumber
set idearefactormode=keep
set ideajoin
set NERDTree
set easymotion

set incsearch

let mapleader = " "

imap jj <Esc>


vmap <leader>y "+y
vmap <leader>p "+p

nmap <leader>h :action PreviousTab<CR>
nmap <leader>l :action NextTab<CR>
nmap <leader>pf :action GotoFile<CR>
nmap <leader>ps :action Search Everywhere<CR>

nnoremap <C-t> :action ActivateTerminalToolWindow<CR>
nnoremap <C-m> :action MoveEditorToOppositeTabGroup<CR>

sethandler <C-j> a:vim
sethandler <C-k> a:vim
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k

nnoremap <C-z> :action ToggleDistractionFreeMode <CR>

nnoremap <C--> :action SplitHorizontally<CR>
nnoremap <C-\> :action SplitVertically<CR>

